/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Variables */
:root {
    --color-primary: #006241;
    --color-secondary: #d50032;
    --color-extra: #d4e9e2;
}

/* cleaning the document */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #000;
}

a {
    color: #000;
}

p {
    margin: 5px 0;
    line-height: 1.7;
}

/* Navbar */
.navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li {
    margin: 0 15px;
    font-weight: bold;
}

.navbar a {
    color: #000;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--color-primary)
}


.navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-nav-left {
    text-transform: uppercase;
    flex: 1;
    margin-left: 20px;
}

.navbar-nav-right img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.navbar-nav-right li:first-child a {
    display: flex;
    align-items: center;
}


/* Utility classes */

/* Buttons */
.btn {
    display: inline-block;
    cursor: pointer;
    background: none;
    border: 1px #000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.btn-dark-outline {
    border-color: #000;
    color: #000;
}

.btn-dark {
    background-color: #000;
    color: #fff;
}